In [1]:
import sys
from awsglue.utils import getResolvedOptions
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

In [2]:
!mysql -h db -uroot -ptest -P3306 -e 'select * from office.employee'

+------+-------------------+--------+
| id   | name              | amount |
+------+-------------------+--------+
|    1 | Brandon Keller    |     61 |
|    2 | Kathleen Knight   |     93 |
|    3 | Timothy Bridges   |     85 |
|    4 | Mark Powell       |     23 |
|    5 | Nicole Burgess    |     46 |
|    6 | Christina Harris  |     80 |
|    7 | Robert Watson     |     15 |
|    8 | Brenda Hawkins    |     44 |
|    9 | Jessica Ramsey    |     93 |
|   10 | Tiffany Stafford; |     74 |
+------+-------------------+--------+

In [3]:
driver_class = "com.mysql.jdbc.Driver"
DB_USER      = "root"
DB_PASSWORD  = "test"
DB_TABLE     = "employee"
DB_NAME      = "office"
jdbc_url     = f"jdbc:mysql://db/{DB_NAME}"

In [4]:
df = spark.read.format("jdbc").options(
    url      = jdbc_url,
    driver   = driver_class,
    dbtable  = DB_TABLE,
    user     = DB_USER,
    password = DB_PASSWORD
).load()

In [5]:
df.show()

+---+-----------------+------+
| id|             name|amount|
+---+-----------------+------+
|  1|   Brandon Keller|    61|
|  2|  Kathleen Knight|    93|
|  3|  Timothy Bridges|    85|
|  4|      Mark Powell|    23|
|  5|   Nicole Burgess|    46|
|  6| Christina Harris|    80|
|  7|    Robert Watson|    15|
|  8|   Brenda Hawkins|    44|
|  9|   Jessica Ramsey|    93|
| 10|Tiffany Stafford;|    74|
+---+-----------------+------+

In [6]:
df.write.mode("overwrite").format("parquet") \
    .option("compression", "snappy") \
    .save("s3://test-bucket/mysql/")

In [7]:
!aws s3 ls s3://test-bucket/mysql/ --endpoint-url http://localstack:4572

2021-01-21 12:48:13          0 _SUCCESS
2021-01-21 12:48:12       1078 part-00000-d2a909cc-abda-46c1-a80f-10956465fdff-c000.snappy.parquet